priority -50

###########################################################################
#                            SnipMate Snippets                            #
###########################################################################
snippet de "Creates a vimwiki diary entry" b
== Entry for `date --date="today" "+%A %m/%d/%Y"` ==

Completed Today:
  -

Started Today:
  -

Notes For Tomorrow:
  -
endsnippet
# vim:ft=snippets:
